<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-measure-heading">Create or edit a Measure</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_temperature">Temperature</label>
                    <input type="number" class="form-control" name="temperature" id="field_temperature"
                           formControlName="temperature"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_symptom">Symptom</label>
                    <select class="form-control" name="symptom" formControlName="symptom" id="field_symptom">
                        <option value="NONE">NONE</option>
                        <option value="DISNEA">DISNEA</option>
                        <option value="FEVER">FEVER</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_duration">Duration</label>
                    <input type="number" class="form-control" name="duration" id="field_duration"
                           formControlName="duration"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_contactWithInfected">Contact With Infected</label>
                    <input type="checkbox" class="form-control" name="contactWithInfected" id="field_contactWithInfected"
                           formControlName="contactWithInfected"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" formControlName="employee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id === editForm.get('employee')!.value?.id ? editForm.get('employee')!.value : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackById">{{ employeeOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
